In [2]:
import QuantLib as ql
import pandas as pd

# Date Class

In [3]:
date = ql.Date(31, 3, 2015)
print(date)

March 31st, 2015

In [4]:
print("%d-%d-%d" %(date.month(),
                   date.dayOfMonth(),
                   date.year()))

3-31-2015

In [5]:
date.weekday() == ql.Tuesday

True

In [6]:
type(date+1)

QuantLib.QuantLib.Date

In [9]:
print("Add a day      : {0}".format(date + 1))
print("Subtract a day : {0}".format(date - 1))
print("Add a week     : {0}".format(date + ql.Period(1, ql.Weeks)))
print("Add a month    : {0}".format(date + ql.Period(1, ql.Months)))
print("Add a year     : {0}".format(date + ql.Period(1, ql.Years)))

Add a day      : April 1st, 2015
Subtract a day : March 30th, 2015
Add a week     : April 7th, 2015
Add a month    : April 30th, 2015
Add a year     : March 31st, 2016

In [10]:
print(date == ql.Date(31, 3, 2015))
print(date > ql.Date(30, 3, 2015))
print(date < ql.Date(1, 4, 2015))
print(date != ql.Date(1, 4, 2015))

True
True
True
True

# Calendar Class

In [11]:
date           = ql.Date(31, 3, 2015)
us_calendar    = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
italy_calendar = ql.Italy()

period     = ql.Period(60, ql.Days)
raw_date   = date + period
us_date    = us_calendar.advance(date, period)
italy_date = italy_calendar.advance(date, period)

print("Add 60 days: {0}".format(raw_date))
print("Add 60 business days in US: {0}".format(us_date))
print("Add 60 business days in Italy: {0}".format(italy_date))

Add 60 days: May 30th, 2015
Add 60 business days in US: June 24th, 2015
Add 60 business days in Italy: June 26th, 2015

In [12]:
us_busdays = us_calendar.businessDaysBetween(date, us_date)
italy_busdays = italy_calendar.businessDaysBetween(date, italy_date)

print("Business days US: {0}".format(us_busdays))
print("Business days Italy: {0}".format(italy_busdays))

Business days US: 60
Business days Italy: 60

In [13]:
joint_calendar = ql.JointCalendar(us_calendar, italy_calendar)

joint_date = joint_calendar.advance(date, period)
joint_busdays = joint_calendar.businessDaysBetween(date, joint_date)

print("Add 60 business days in US-Italy: {0}".format(joint_date))
print("Business days US-Italy: {0}".format(joint_busdays))

Add 60 business days in US-Italy: June 29th, 2015
Business days US-Italy: 60

# Schedule Class

In [14]:
effective_date                  = ql.Date(1,1,2015)
termination_date                = ql.Date(1,1,2016)
tenor                           = ql.Period(ql.Monthly)
calendar                        = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
business_convention             = ql.Following
termination_business_convention = ql.Following
date_generation                 = ql.DateGeneration.Forward
end_of_month                    = False

schedule  = ql.Schedule(effective_date,
                        termination_date,
                        tenor,
                        calendar,
                        business_convention,
                        termination_business_convention,
                        date_generation,
                        end_of_month)

pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016